/*pack*/
.card-body  li{
    color: #09ee3be7;
    background-color: #f8f8f8; 
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
}
#pack {
    color: #e9e9e9e7;
    background-color: rgb(172, 172, 172);
    text-decoration: none;
border: none;
font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* text css above hero image*/
.hero_title {
    font-size: 4.5rem;
}
.hero_desc {
    font-size: 2rem;
}
.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgba(3, 65, 119, 0.938);
}

.text-center{

    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
text-decoration: none;
font-weight:bold;
color: #03090a;
}
/* about section image css */
.imageAboutPage {
    width: 100%;
}
/*team*/
.cardteam{ width: 20%;
align-items: center;
text-align: center;

}
.card-body-team{
text-align: center;
color: #771b1b;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
align-items: center;
}
/*background*/
.bgimage {
    height:100vh;
    background: url('img/hexab.jpeg');
    background-size:cover;
    position:relative;
}
.background_about {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/white.gif');
 
}
.background_serve {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/s.gif');
  
}
.background_team {
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/gteam.jpeg');

}
.background_port{ background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/portfolio-vector-1632227.jpg');
    
}

.background_contact{ background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url('img/contact.gif');}

.background_footer {
    background: linear-gradient(rgba(2, 2, 2, 0.5), rgba(8, 8, 8, 0.5)), url('img/foot.gif');
}

.quotes{     
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
color: rgb(59, 59, 59);
    background-image: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 250, 250, 0.5)) , url('');
   
}
.card-img-top{
 text-align: center;
    align-items: center;
}
.card-text-team{
color: #026e81;
font-variant: small-caps;
}
/* services section css */
.servicesText.card {
    height: 280px;
    cursor: pointer;
  }
.servicesIcon {
    font-size: 36px;
    text-align: center;
    width: 100%;
}
.card-title {
    text-align: center;
}
#hidden{
display: none;
visibility: hidden;

}
.card:hover .servicesIcon {
    color: #008000;
}
.servicesText:hover {
    border: 1px solid #002e36;
}
/* display background color black on navbar scroll */
.navbarScroll.navbarDark {
    background-color: rgba(5, 103, 148, 0.171)
}

/* social media icons styling */
.social-icons {
    font-size: 36px;
    cursor: pointer;
}
.fa-facebook:hover,.fa-instagram:hover,.fa-twitter:hover,.fa-linkedin:hover, .fa-twitch:hover {
    color: #008060;
}
.fab {
    color: #000000;
}
/* footer styling */
#footer {
font-family: Arial, Helvetica, sans-serif;
font-weight: bolder;
font-style: normal;
color: rgba(156, 156, 156, 0.938);
    text-align: center;
}
/* spacing on all sections */
#about, #services, #portfolio, #contact {
    margin-top: 4rem;
    padding-top: 4rem;
}
#contact {
    padding-bottom: 4rem;
}
.nav-link {
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color:#000000;
    font-size: 20px;
    font-style: bold;
}
.navbar-brand{
font-weight: 500;
font-family: fantasy;
    color: rgb(0, 0, 0);
    font-size: 20px;    
}


/* For screens smaller than 600px */
@media only screen and (max-width: 600px) {
    .hero_title {
        font-size: 2.5rem;
    }
    .hero_desc {
        font-size: 1.5rem;
    }
}

/* For screens larger than or equal to 600px */
@media only screen and (min-width: 600px) {
    .hero_title {
        font-size: 4.5rem;
    }
    .hero_desc {
        font-size: 2rem;
    }
}
