/**gte */
.translator{
    size: 7px;
    text-decoration: none;
    opacity: 20%;
        background-color: #69696b3b;
    }
    .about{
background-color: rgba(255, 255, 255, 0.767);

        color: rgb(0, 5, 73);
    }
    .hd{

        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: firebrick;
    text-align: center;
    }
    .tutorial{ display: flex;
       
        text-align: center;
}
legend{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.tutorial form{background-image: url("img/OIP.jpeg");
align-items: center;
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
font-size: 40px;
    text-align: center;
padding: 25%;
}
.tutorial fieldset{

    border: none;
}
body{
background-image: linear-gradient(rgba(255,255,255,.5),rgba(255,255,255,.5)) , url("img/c.jpg");

background-size: cover ;
}
.tutorial1{

 
}